html,
body
	height: 100%


body
	font-family: Verdana 
	font-size: 14px
	color: $grey


/* Container */
.container


+placeholder
	opacity: 1
	


.block-title
	border-bottom: 1px solid $grey-border
	margin-bottom: 20px
	padding-bottom: 8px 

	h2
		font-size: 18px 
		font-weight: normal 
		margin-bottom: 0 