html,
body
	height: 100%


body
	font-family: Verdana 
	font-size: 14px
	color: $grey
	
	@media (max-width: 767px)
		padding-top: 80px 
	@media (max-width: 400px)
		font-size: 13px 


/* Container */
.container


+placeholder
	opacity: 1
	


.block-title
	border-bottom: 1px solid $grey-border
	margin-bottom: 20px
	padding-bottom: 8px 
	
	h1,
	h2,
	a
		font-size: 18px 
		font-weight: normal 
		margin-bottom: 0
		color: inherit
		
	a:hover
		text-decoration: none 
		
	&.link
		border-color: $green
		color: $green
		
.bg-grey
	background-color: #F5F5F5 
	

.mt-0
	margin-top: 0!important
	
.mb-0
	margin-bottom: 0!important 
	
.alert
	font-family: $os 