.profile-table
	width: 100%
	margin-bottom: 35px 
	
	td
		border-bottom: 1px solid #CCCCCC
		padding: 12px 0
		vertical-align: baseline 
		
		&:first-child
			width: 25%
			
		&:last-child
			width: 75%
			
		a
			color: inherit
			


.comment-item
	display: flex
	flex-wrap: wrap
	
	&:not(:last-child)
		margin-bottom: 20px
		
	&__user
		width: 65px
		
		figure
			max-width: 100%
			margin: 0
			
			img
				display: block
				width: 100%
				
			figcaption
				font-family: $os
				font-weight: 600
				color: $grey-dark
				font-size: 10px
				margin-top: 3px 
		
	&__content
		width: -webkit-calc(100% - 65px)
		width: calc(100% - 65px)
		padding-left: 15px 
		
		.body
			background-color: #ECECEC
			font-family: $os
			font-size: 12px
			padding: 10px 15px
			border-radius: 3px
			
			p
				margin-bottom: 0

				&:not(:last-child)
					margin-bottom: 1em 
					
		.date
			margin-top: 10px
			font-family: $os
			color: $grey-border
			font-style: italic
			font-weight: normal 
			font-size: 12px 
			   


.comment-form
	padding-top: 25px
	padding-left: 80px
	font-size: 12px 
	
	.button-group
		padding-top: 0 
		
		small
			display: block
			
		.btn
			max-width: 100% 
			



.schedule-table
	width: 100%
	font-family: $os 
	margin-top: 15px 
	
	td,
	th
		border: 1px solid $grey-border
		padding: 10px
		vertical-align: baseline
	
	thead
		font-size: 12px
		
		th
			font-weight: 600 
		
	tbody
		font-size: 11px
		
		td:first-child
			font-weight: 600
			font-size: 12px  
			
	.receipt-link
		border: 1px solid $grey-border
		border-radius: 3px
		white-space: nowrap
		padding: 3px 6px
		color: $grey
		
		&:hover
			text-decoration: none
			background-color: $orange 
			border-color: $orange
			color: #fff
			
		&.disabled
			pointer-events: none
			

	.status
		border: 1px solid
		border-radius: 3px
		white-space: nowrap
		padding: 3px 6px
		color: #fff
		
		&.pending
			background-color: $red
			border-color: $red 
			
		&.reserved
			background-color: $green
			border-color: $green
			
		&.parked
			background-color: $blue
			border-color: $blue 